.quemSomos-bg{
    height: 500px;
}

.linha{
    width: 50%;
    height: 3px;
    margin: 20px auto;
    display: block;
    background: white;
}
.sub-title{
    color: #4285f4;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.sub-title span{
    font-weight: 600;
}

.flex-sobre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    gap: 16px;
}

.info-sobre{
    max-width: 550px;
}

.quem-img{
    min-width: 380px;
}

.info-sobre h2{
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.2;
    padding: 16px 0;
}
.info-sobre h2 span{
    font-weight: bold;
}
.center{
    justify-content: center;
    text-align: center;
}
.info-contato{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 60px 0;
    align-items: center;
}
.contato-link{
    display: flex;
    gap: 8px;
    align-items: center;
    color: black;
    font-size: 1.125rem;
    font-weight: bold;
    transition: .3s all;
}
.contato-link:hover{
    color: #4285f4;
}
.logo-contato{
    padding-bottom: 20px;
}

.local{
    display: flex;
    align-items:start;
    padding-top: 15px;
    text-align: center;
}
.flex-social-contato{
    display: flex;
    gap: 8px;
    padding: 16px 0;
}
.linha-contato{
    width: 50%;
    display: block;
    margin: 12px auto;
    height: 4px;
    background: #4285f4;
}
.status{
    color: rgba(242,139,130,1.0);
    font-weight: bold;
}
.status.aberto{
    color: rgb(0, 196, 0);
}
.bg-dark-servico{
    background: linear-gradient(#000, #444);
    margin-top: 60px;
}
.flex-sobre-bg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 30px 0;
    color: white;
}
.img-faq{
    height: 450px;
}
.faq{
    color: white;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 500;
    padding: 20px 0;
}
.faq-sobre{
   font-size: 1.5rem;
   margin-bottom: 20px;
}
.faq-sobre span{
    color: #4285f4;
}
.cada-faq{
    color: black;
    background: white;
    padding: 8px;
}
.cada-faq p {
    display: none;
}
.cada-faq p.ativo {
    display: block;
    animation: textoLeft .3s forwards;
}
.cada-faq h3{
    font-size: 1.2rem;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.cada-faq h3 img{
    transform: rotate(180deg);
    transition: .3s all;
}

.cada-faq h3 img.ativo{
    transform: initial;

}
.btnMeio{
    margin: 0 auto;
}

.faq-btn{
    padding-bottom: 30px;
}

@media (max-width: 999px){
    .flex-sobre{
        flex-direction: column-reverse;
    }
    .reverse,.flex-sobre-bg{
        flex-direction: column;
    }
    .info-sobre h2{
        font-size: 2.5rem;
    }
    .sub-title{
        font-size: 1.2rem;
    }
    .quem-img{
        min-width: initial;
    }
    .linha-contato{
        width: 50%;
    }
    .info-contato{
        flex-direction: column;
        align-items: center;
    }
    .contato-link{
        justify-content: center;
    }
    .local{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .flex-social-contato{
        justify-content: center;
    }
    .funcionamento{
        text-align: center;
    }
    .mobile-map{
        max-width: 100%;
        height: 350px;
    }
    .quemSomos-bg{
        height: auto;
    }
    .center{
        padding-bottom: 30px;
    }
    .faq{
        font-size: 2rem;
    }
    .faq-sobre{
        font-size: 1.2rem;
    }
    .cada-faq h3{
        font-size: 1rem;
    }
    .logo-contato img{
        width: 200px;
        margin: 0 auto;
    }
    .info-sobre{
        width: 100%;
    }
}

@keyframes textoLeft {
    from {
      opacity: 0;
      transform: translate3d(-40px, 0, 0);
    }
    to {
      opacity: 1;
      transform: translateZ(0);
    }
}