* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.no-scroll{
  overflow: hidden;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.mb-2 {
  margin-bottom: 20px;
}

.container {
  max-width: 1200px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.bg-gradient {
  background: radial-gradient(at top left, #000033 0%, #101049 100%);
  height: 875px;
  position: relative;
}

.background-effect {
  background: url("../img/efeitos.png") no-repeat center;
  position: absolute;
  bottom: 0;
  background-size: cover;
  opacity: 0.7;
  width: 80%;
  height: 80%;
}
.footer-background-effect {
  background: url("../img/efeitos.png") no-repeat center;
  position: absolute;
  bottom: 0;
  background-size: cover;
  opacity: 0.7;
  width: 100%;
  height: 100%;
}

.additional-background-effect {
  position: absolute;
  background: url("../img/efeitoBranco.png") no-repeat;
  background-size: cover;
  width: 100%;
  background-position: bottom center;
  height: 100%;
  left: 0;
  top: 1px;
  bottom: 0;
}

.menu-bar {
  display: flex;
  align-items: center;
  padding-top: 10px;
  justify-content: space-between;
  border-bottom: 2px solid #4e4e4e;
}
.fixedMenu {
  position: fixed;
  background: #4285f4;
  left: 0;
  width: 100%;
  z-index: 99999;
}

.logo-links {
  display: flex;
}
.logo {
  height: 50px;
}
.menu-list {
  display: flex;
  position: relative;
  gap: 1rem;
}
#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-list li a {
  padding: 4px 20px;
  color: white;
  transition: 0.3s all;
  border-bottom: 2px solid transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.servi {
  padding: 4px 20px;
  color: white;
  cursor: pointer;
  transition: 0.3s all;
}
.menu-list li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-size: 0px 2px;
  background-position: 0px 95%;
  background-image: linear-gradient(
    to right,
    currentColor 0%,
    currentColor 100%
  );
  display: inline !important;
  background-repeat: no-repeat;
  transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s,
    box-shadow 0.3s ease;
}

.menu-list li a:hover::after {
  box-shadow: 0px -6px 24px #fff;
  background-size: 100% 2px !important;
}

.cont-title-head {
  display: flex;
  padding-top: 140px;
}

.title-div {
  color: white;
  animation: animaLeft 1.5s forwards;
}
.div-img-head {
  animation: animaCima 1.5s forwards;
}

.title-div h1 {
  font-size: 3.75rem;
  line-height: 1.1em;
  font-weight: 600;
  margin-bottom: 20px;
}

.title-div p {
  margin-bottom: 60px;
}

.btn-wpp {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  font-weight: 600;
  background: #25d366;
  padding: 10px 60px;
  border-radius: 8px;
  width: max-content;
  cursor: pointer;
  transition: 0.3s all;
}

.btn-wpp:hover {
  background: #37ec7a;
}

.z-index-1000 {
  position: relative;
  z-index: 1000;
}

.lista-vantagem {
  padding: 1rem 0;
}

.lista-vantagem li {
  display: flex;
  align-items: center;
}

.quemSomos h2 {
  font-size: 2.625rem;
  padding: 1rem 0;
}

.avaliacao-google {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  padding: 30px;
  background: #eaeaea;
  margin-bottom: 30px;
}

.number-ava {
  color: black;
  font-size: 2.5rem;
  font-weight: 600;
}

.avaliacao-google {
  display: flex;
  gap: 15px;
}
.avaliacao-google ul {
  display: flex;
}
.quemSomos {
  max-width: 520px;
}
.flex-quemSomos {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding-bottom: 60px;
}
.nota {
  text-align: center;
  position: relative;
  padding-left: 45px;
}
.nota::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  left: 15px;
  background: #ff9222;
}

.telefone img {
  max-width: 300px;
}

.bg-dark {
  background: linear-gradient(#000, #444);
  padding: 50px 0;
}

.textServ {
  text-align: center;
  color: white;
}

.textServ h2 {
  font-size: 2.625rem;
  font-weight: 600;
  padding-bottom: 16px;
}

.card {
  background: #fff;
  max-width: 360px;
  display: flex;
  flex-direction: column;
}

.servicos-card {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 50px 20px;
  height: 100%;
}

.grid-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 40px 16px;
}

.title-card {
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  display: block;
  transition: 0.3s all;
}

.list-card {
  padding: 16px 0;
  flex: 1;
}
.list-card li {
  padding: 6px 0;
}

.list-card li a {
  color: #000;
  transition: 0.3s all;
}

.list-card li a:hover {
  color: #0000ff;
}

.atendimento {
  color: white;
  background: linear-gradient(#000, #444);
  padding: 40px 50px;
  max-width: 1150px;
  margin: 50px auto;
  border-radius: 25px;
  text-align: center;
}

.atendimento h2 {
  padding: 12px 0;
  font-size: 2.625rem;
  font-weight: 600;
}

.meio-bnt {
  margin-inline: auto;
  margin-top: 16px;
}

footer {
  position: relative;
  margin-top: 140px;
  color: white;
  background: radial-gradient(at top left, #000000 0%, #444444 100%);
}

.div-svg {
  transform: rotate(180deg);
  overflow: hidden;
  position: relative;
  left: 0;
  width: 100%;
  line-height: 0;
  top: -1px;
}

.div-svg svg {
  display: block;
  width: calc(100% + 1.3px);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  z-index: -1;
  height: 60px;
}

.logoFooter {
  max-width: 280px;
}

.flex-footer {
  display: grid;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.footer-servicos{
  display: grid;
  justify-items: center;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 10px;
}


.h2-footer{
  text-align: center;
  position: relative;
  padding: 10px 0;
}

.empresa p {
  padding-top: 12px;
  max-width: 280px;
}

.list-footer p, .footer-servicos p {
  padding-bottom: 12px;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
}
.list-footer li, .footer-servicos li {
  padding: 8px 0;
}

.list-footer li a,
.list-footer li {
  display: flex;
  align-items: center;
  color: white;
  position: relative;
}
.footer-servicos li a{
  color: white;
}

.list-footer li a img,
.list-footer li img {
  position: relative;
  left: -10px;
}

.lojaInfo {
  padding-left: 6px;
}

.menu-drop {
  position: absolute;
  top: 12px;
}

.menu-drop img {
  transform: rotate(180deg);
  margin-left: 6px;
}


.dropdown {
  background: white;
  padding: 4px;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  z-index: 100;
  width: max-content;
  left: 0;
  transform: translateY(20px);
  transition: 0.3s all;
  display: none;
}

.dropdown.ativo {
  visibility: visible;
  display: block;
  opacity: 1;
}

.dropdown li a {
  color: black;
  font-weight: 400;
}

.link-prin {
  font-weight: bold;
  position: relative;
}

.li-drop {
  padding: 4px 0;
  color: #000;
  font-weight: bold;
}

.li-drop ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background: white;
  animation: animaLeft 0.5s forwards;
}

.li-drop.ativo ul {
  display: block;
  width: max-content;
}

.link-dentro li {
  padding: 3px 0;
}

.link-dentro li a:hover {
  transition: 0.3s all;
  color: #0000ff;
}

#btn-mobile {
  display: none;
}

.logo-links {
  display: flex;
}
.logo-links-mobile {
  display: none;
}
.menu-social {
  display: none;
}
 .menu-wpp{
  display: none;
 }

@media (max-width: 1025px) {
  .cont-title-head {
    flex-direction: column;
    gap: 25px;
    padding-top: 80px;
  }
  .list-footer.ajuste {
    align-self: center;
  }
  .cont-title-head img {
    margin: 0 auto;
  }
  .title-div {
    text-align: center;
  }
  .title-div .btn-wpp {
    margin-inline: auto;
  }
  .grid-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .flex-footer {
    grid-template-columns: repeat(2, 1fr);
  }
  .menu-list {
    gap: 0;
  }
  .footer-servicos{
    grid-template-columns: repeat(2,1fr);
    text-align: center;
  }
}

@media (max-width: 999px) {
  .fixedMenu {
    position: initial;
  }
  .menu-bar {
    border: none;
  }
  .logo-links {
    display: none;
  }
  .logo-links-mobile {
    display: flex;
  }
  .servi {
    position: relative;
  }

  .menu-social{
    display: flex;
    justify-content: center;
    gap: 18px;
    padding: 10px 20px;
  }
  .menu-wpp{
    display: flex;
    margin: 0 auto;
  }

  #btn-mobile {
    display: flex;
    padding-top: 10px;
    align-items: center;
    font-size: 1rem;
    position: relative;
    z-index: 100;
    width: 100%;
    border: none;
    background: none;
    cursor: pointer;
    justify-content: flex-end;
  }

  #btn-mobile.ativo {
    position: fixed;
    left: -15px;
    top: 15px;
  }

  #btn-mobile.ativo #hamburger::before {
    transform: rotate(-135deg);
  }

  #btn-mobile.ativo #hamburger::after {
    transform: rotate(135deg);
    top: -7px;
  }

  #btn-mobile.ativo #hamburger {
    border-top-color: transparent;
  }

  #nav {
    display: flex;
    flex-direction: column;
    width: 0px;
    overflow: hidden;
    position: fixed;
    right: 0px;
    top: 0px;
    transform: translate3d(100%, 0px, 0px);
    height: 100vh;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    transition: all 200ms ease 0s;
    z-index: 2;
  }

  #nav.ativo {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    overflow: hidden;
    position: fixed;
    right: 0px;
    top: 0px;
    height: 100vh;
    background-color: #4285f4;
    transition: all 200ms ease 0s;
    z-index: 2;
    padding: 32px 20px 20px;
    width: 370px;
    box-shadow: rgba(1, 7, 31, 0.41) -4px 4px 16px;
    transform: translate3d(0px, 0px, 0px);
    align-items: initial;
    border: none;
    justify-content: initial;
    gap: 30px;
    overflow-y: auto;
  }

  .menu-list li a, .menu-list li{
    letter-spacing: 1px;
    padding: 8px 0;
    font-weight: 500;
    text-transform: uppercase;
  }

  .logo-links-mobile {
    padding: 20px 0;
  }

  .menu-list {
    flex-direction: column;
    /* overflow-y: auto;
    overflow-x: hidden; */
    /* height: 290px; */
    /* flex: auto; */
  }

  #hamburger {
    display: block;
    border-top: 3px solid white;
    width: 30px;
  }
  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: white;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  .li-menu-drop .dropdown.ativo {
    visibility: visible;
    opacity: 1;
    transform: none;
    position: relative;
    display: block;
    background: #65b5ee;
  }
  .li-drop.ativo ul {
    display: block;
    width: 100%;
    position: relative;
    background:#4c94c7;
    left: 0;
  }
  .li-drop,
  .dropdown li a {
    color: white;
  }
  .link-dentro li a:hover {
    transition: 0.3s all;
    color: #fff;
  }
}

@media (max-width: 769px) {
  .flex-footer {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    text-align: center;
    gap: 20px;
  }
  .footer-servicos{
    grid-template-columns: repeat(1,1fr);
  }
  .grid-cards {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .flex-quemSomos {
    flex-direction: column;
  }
  .telefone img {
    max-width: 180px;
    margin: 0 auto;
  }
  .btn-wpp {
    padding: 10px 30px;
  }
  .quemSomos .btn-wpp {
    margin: 0 auto;
  }
  .title-div h1 {
    font-size: 2.5rem;
  }
  .quemSomos h2 {
    font-size: 2rem;
  }
  .atendimento h2 {
    font-size: 2rem;
  }
  .atendimento {
    padding: 30px 15px;
    margin: 20px auto;
  }
  .cont-title-head {
    padding-top: 60px;
  }
  .menu-bar {
    flex-direction: column;
  }
}

@keyframes animaLeft {
  from {
    opacity: 0;
    transform: translate3d(-400px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes animaCima {
  from {
    opacity: 0;
    transform: translate3d(0, -200px, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}


@keyframes seta {
  from {
   top: 0px;
  }
  to {
   top: 5px;
  }
}